MINIO_ROOT_USER=modelline
MINIO_ROOT_PASSWORD=modelline_secret
REDPANDA_EXTERNAL_HOST=localhost
REDPANDA_EXTERNAL_PORT=9092
REDPANDA_ADMIN_PORT=9644
REDPANDA_CONSOLE_PORT=8080
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
NGINX_PORT=8501
