KAFKA_BOOTSTRAP_SERVERS=redpanda:29092
REDPANDA_ADMIN_URL=redpanda:9644
ACCOUNT_URL=account_service_api:5000
GATEWAY_URL=exchange-gateway:5020
REDIS_URL=redis://redis:6379/0
MINIO_URL=minio:9000

# Used by admin-online in split deployment.
ONLINE_KAFKA_BOOTSTRAP_SERVERS=
ONLINE_REDPANDA_ADMIN_URL=
ONLINE_ACCOUNT_URL=
ONLINE_GATEWAY_URL=
ONLINE_REDIS_URL=
ONLINE_MINIO_URL=

ADMIN_PORT=8501
